@font-face {
    font-family: "ManropeExtraBold";
    font-style: normal;
    font-weight: 800;
    src: local("ManropeExtraBold"),
        url("/fonts/Manrope-ExtraBold.woff2"),
        url("/fonts/Manrope-ExtraBold.woff");
}

@font-face {
    font-family: "ManropeBold";
    font-style: normal;
    font-weight: bold;
    src: local("ManropeBold"),
        url("/fonts/Manrope-Bold.woff2"),
        url("/fonts/Manrope-Bold.woff");
}

@font-face {
    font-family: "ManropeSemibold";
    font-style: normal;
    font-weight: 600;
    src: local("ManropeSemibold"),
        url("/fonts/Manrope-Semibold.woff2"),
        url("/fonts/Manrope-Semibold.woff");
}

@font-face {
    font-family: "ManropeMedium";
    font-style: normal;
    font-weight: 500;
    src: local("ManropeMedium"),
        url("/fonts/Manrope-Medium.woff2"),
        url("/fonts/Manrope-Medium.woff");
}

@font-face {
    font-family: "ManropeRegular";
    font-style: normal;
    font-weight: 400;
    src: local("ManropeRegular"),
        url("/fonts/Manrope-Regular.woff2"),
        url("/fonts/Manrope-Regular.woff");
}

@font-face {
    font-family: "ManropeLight";
    font-style: normal;
    font-weight: 300;
    src: local("ManropeLight"),
        url("/fonts/Manrope-Light.woff2"),
        url("/fonts/Manrope-Light.woff");
}

@font-face {
    font-family: "ManropeThin";
    font-style: normal;
    font-weight: 100;
    src: local("ManropeThin"),
        url("/fonts/Manrope-Thin.woff2"),
        url("/fonts/Manrope-Thin.woff");
}



